<h1>About</h1>

<ul>
  <li>Rails 4</li>
  <li>Bootstrap-Sass Gem for adding Bootstrap framework to asset pipeline</li>
  <li>Feedjira Gem to parse ATOM feed</li>
  <li>Ransack Gem for search and filter</li>
  <li>Will Paginate Gem for pagination</li>
  <li>Chose-Rails Gem to add Chosen jQuery library to asset pipeline. Provides formatting of multi-select box used to search Departments.</li>
  <li>Heroku hosting</li>
  <li>Heroku Scheduler runs a custom Rake task daily to save new feed data to the database.</li>
</ul>

