<h1>Contact</h1>

<p>Emilie Meade<br>
  <%= mail_to 'emiliemeade@gmail.com', 'emiliemeade@gmail.com' %><br>
  <%= link_to 'Resume and Portfolio', 'http://emeade.github.io', :target => '_blank' %><br>
</p>